# -----------------------------------------------------------------------------
# build.properties.sample
#
# This is an example "build.properties" file, used to customize building the
# Cactus Servlet Sample for your local environment.  Make any changes you need,
# and rename this file to "build.properties" in the same directory that
# contains the "build.xml" file.
#
# $Id$
# -----------------------------------------------------------------------------

# WARNING:  The relative paths below are relative to the directory where the
# build.xml file is located.

# -----------------------------------------------------------------------------
# Mandatory properties
# -----------------------------------------------------------------------------

# Location of all jars. Note: This is not a mandatory property. It is only
# used here so that it can be reused when defining the location of all the jars
# below. You do not have to put all the external jars in a single location.
lib.repo = c:/apps/maven/repository

# The location of the J2EE API jar. Depending on the version (1.2 or 1.3) of
# it, the corresponding Cactus Framework will be built. For example if you use
# J2EE 1.3 jar, then the Cactus jar will contain the Filter Redirector which is
# only available for Servlet 2.3 (part of J2EE 1.3).
j2ee.jar = ${lib.repo}/servletapi/jars/servletapi-2.3.jar

# The location of the AspectJ runtime jar
aspectjrt.jar = ${lib.repo}/aspectj/jars/aspectjrt-1.0.6.jar

# The location of the Commons Logging jar
commons.logging.jar = ${lib.repo}/commons-logging/jars/commons-logging-1.0.3.jar

# The location of the log4j jar
log4j.jar = ${lib.repo}/log4j/jars/log4j-1.2.6.jar

# The location of the Commons Httpclient jar
commons.httpclient.jar = ${lib.repo}/commons-httpclient/jars/commons-httpclient-2.0-rc2.jar

# The location of the Junit jar
junit.jar = ${lib.repo}/junit/jars/junit-3.8.1.jar

# The location of the Httpunit jar
httpunit.jar = ${lib.repo}/httpunit/jars/httpunit-1.5.3.jar

# -----------------------------------------------------------------------------
# Mandatory properties for the Jetty Sample
# -----------------------------------------------------------------------------

# The location of the Jetty jar
jetty.jar = ${lib.repo}/jetty/jars/org.mortbay.jetty-4.2.11.jar

# The location of the Jasper compiler jar (provided with Tomcat)
jasper-compiler.jar = ${lib.repo}/tomcat/jars/jasper-compiler-4.1.24.jar

# The location of the Jasper runtime jar (provided with Tomcat)
jasper-runtime.jar = ${lib.repo}/tomcat/jars/jasper-runtime-4.1.24.jar

# -----------------------------------------------------------------------------
# Optional properties
# -----------------------------------------------------------------------------

# The port to use for starting the servers during unit testing. If not
# specified, it defaults to port 8080.
#test.port = 8081
