body {
 background: #fffff;
 color: #00000;
 }

a:link, a:visited {
 color: #023264;
 }
 
div#source {
 background-color: #fff;
 color: #000;
 border-right: 1px solid #888; 
 border-left: 1px solid #888; 
 border-top: 1px solid #888; 
 border-bottom: 1px solid #888; 
 margin-right: 7px;
 margin-left: 7px;
 margin-top: 1em;
 }

div#source pre {
 margin-right: 7px;
 margin-left: 7px;
 }

div#menu {
 margin-left: 7px;
 margin-top: 3px;
 margin-bottom: 3px;
}