/.classpath
/.project
Eclipse-Plugin/bin
Eclipse-Plugin/build.properties
Eclipse-Plugin/dist
Eclipse-Plugin/release
Eclipse-Plugin/target
/ant.bat
anttasks/ant.bat
anttasks/build.properties
anttasks/dist
anttasks/target
/build.properties
/cactus_client.log
/cactus_server.log
/dist
/dist-12
/dist-13
documentation/ant.bat
documentation/build.properties
documentation/dist
documentation/docs/xdocs/cvslog/cvslog.xml
documentation/target
framework/ant.bat
framework/build.properties
framework/dist-12
framework/dist-13
framework/target-12
framework/target-13
/maven.log
/misc
petals/ant/ant.bat
petals/ant/build.properties
petals/ant/dist-12
petals/ant/dist-13
petals/ant/target-12
petals/ant/target-13
/release
sample-jetty/ant.bat
sample-jetty/build.properties
sample-jetty/dist-12
sample-jetty/dist-13
sample-jetty/target-12
sample-jetty/target-13
sample-servlet/ant.bat
sample-servlet/build.properties
sample-servlet/dist-12
sample-servlet/dist-13
sample-servlet/target-12
sample-servlet/target-13
/target
/target-12
/target-13
