* text=auto !eol
/.cvsignore svn_keywords=Author+Date+Id+Revision
/LICENSE svn_keywords=Author+Date+Id+Revision
/README svn_keywords=Author+Date+Id+Revision
build/build-servletapi.xml svn_keywords=Author+Date+Id+Revision
build/build.properties.sample svn_keywords=Author+Date+Id+Revision
build/build.xml svn_keywords=Author+Date+Id+Revision
conf/manifest svn_keywords=Author+Date+Id+Revision
conf/manifest-ant svn_keywords=Author+Date+Id+Revision
conf/sample/build/servlet22/build-tests-enhydra-31.xml svn_keywords=Author+Date+Id+Revision
conf/sample/build/servlet22/build-tests-resin-12.xml svn_keywords=Author+Date+Id+Revision
conf/sample/build/servlet22/build-tests-tomcat-32.xml svn_keywords=Author+Date+Id+Revision
conf/sample/build/servlet22/build-tests-tomcat-33.xml svn_keywords=Author+Date+Id+Revision
conf/sample/build/servlet22/build-tests-weblogic-51.xml svn_keywords=Author+Date+Id+Revision
conf/sample/build/servlet22/build.properties.sample svn_keywords=Author+Date+Id+Revision
conf/sample/build/servlet22/build.xml svn_keywords=Author+Date+Id+Revision
conf/sample/build/servlet23/build-tests-resin-13.xml svn_keywords=Author+Date+Id+Revision
conf/sample/build/servlet23/build-tests-tomcat-40.xml svn_keywords=Author+Date+Id+Revision
conf/sample/build/servlet23/build.properties.sample svn_keywords=Author+Date+Id+Revision
conf/sample/build/servlet23/build.xml svn_keywords=Author+Date+Id+Revision
conf/sample/build/share/build-share.xml svn_keywords=Author+Date+Id+Revision
conf/sample/build/share/build-tests-orion-14.xml svn_keywords=Author+Date+Id+Revision
conf/sample/build/share/build-tests-resin-20.xml svn_keywords=Author+Date+Id+Revision
conf/sample/conf/manifest svn_keywords=Author+Date+Id+Revision
conf/sample/conf/test/servlet22/enhydra31/multiserver.conf svn_keywords=Author+Date+Id+Revision
conf/sample/conf/test/servlet22/resin12/resin.conf svn_keywords=Author+Date+Id+Revision
conf/sample/conf/test/servlet22/tomcat32/server.xml svn_keywords=Author+Date+Id+Revision
conf/sample/conf/test/servlet22/tomcat33/server.xml svn_keywords=Author+Date+Id+Revision
conf/sample/conf/test/servlet22/weblogic51/weblogic.policy svn_keywords=Author+Date+Id+Revision
conf/sample/conf/test/servlet22/weblogic51/weblogic.properties svn_keywords=Author+Date+Id+Revision
conf/sample/conf/test/servlet23/resin13/resin.conf svn_keywords=Author+Date+Id+Revision
conf/sample/conf/test/servlet23/tomcat40/server.xml svn_keywords=Author+Date+Id+Revision
conf/sample/conf/test/servlet23/tomcat40/web.xml svn_keywords=Author+Date+Id+Revision
conf/sample/conf/test/share/log_client.properties svn_keywords=Author+Date+Id+Revision
conf/sample/conf/test/share/log_server.properties svn_keywords=Author+Date+Id+Revision
conf/sample/conf/test/share/orion14/application.xml svn_keywords=Author+Date+Id+Revision
conf/sample/conf/test/share/orion14/default-web-site.xml svn_keywords=Author+Date+Id+Revision
conf/sample/conf/test/share/orion14/principals.xml svn_keywords=Author+Date+Id+Revision
conf/sample/conf/test/share/orion14/rmi.xml svn_keywords=Author+Date+Id+Revision
conf/sample/conf/test/share/orion14/server.xml svn_keywords=Author+Date+Id+Revision
conf/sample/conf/test/share/resin20/resin.conf svn_keywords=Author+Date+Id+Revision
conf/sample/conf/web.xml svn_keywords=Author+Date+Id+Revision
conf/version.txt svn_keywords=Author+Date+Id+Revision
docs/framework/skins/jakarta.apache.org/loader.xml svn_keywords=Author+Date+Id+Revision
docs/framework/skins/jakarta.apache.org/resources/add.jpg -text
docs/framework/skins/jakarta.apache.org/resources/fix.jpg -text
docs/framework/skins/jakarta.apache.org/resources/jakarta-logo.gif -text
docs/framework/skins/jakarta.apache.org/resources/logocactus.gif -text
docs/framework/skins/jakarta.apache.org/resources/note.gif -text
docs/framework/skins/jakarta.apache.org/resources/remove.jpg -text
docs/framework/skins/jakarta.apache.org/resources/update.jpg -text
docs/framework/skins/jakarta.apache.org/stylesheets/book2project.xsl svn_keywords=Author+Date+Id+Revision
docs/framework/skins/jakarta.apache.org/stylesheets/changes2document.xsl svn_keywords=Author+Date+Id+Revision
docs/framework/skins/jakarta.apache.org/stylesheets/copyover.xsl svn_keywords=Author+Date+Id+Revision
docs/framework/skins/jakarta.apache.org/stylesheets/document2html.xsl svn_keywords=Author+Date+Id+Revision
docs/framework/skins/jakarta.apache.org/stylesheets/todo2document.xsl svn_keywords=Author+Date+Id+Revision
docs/framework/xdocs/changes.xml svn_keywords=Author+Date+Id+Revision
docs/framework/xdocs/contributing.xml svn_keywords=Author+Date+Id+Revision
docs/framework/xdocs/contributors.xml svn_keywords=Author+Date+Id+Revision
docs/framework/xdocs/cvslog/users.properties svn_keywords=Author+Date+Id+Revision
docs/framework/xdocs/doc-book.xml svn_keywords=Author+Date+Id+Revision
docs/framework/xdocs/downloads.xml svn_keywords=Author+Date+Id+Revision
docs/framework/xdocs/dtd/changes-v10.dtd svn_keywords=Author+Date+Id+Revision
docs/framework/xdocs/dtd/characters.ent svn_keywords=Author+Date+Id+Revision
docs/framework/xdocs/dtd/document-v10.dtd svn_keywords=Author+Date+Id+Revision
docs/framework/xdocs/dtd/todo-v10.dtd svn_keywords=Author+Date+Id+Revision
docs/framework/xdocs/features.xml svn_keywords=Author+Date+Id+Revision
docs/framework/xdocs/goals.xml svn_keywords=Author+Date+Id+Revision
docs/framework/xdocs/images/add.jpg -text
docs/framework/xdocs/images/archi.jpg -text
docs/framework/xdocs/images/archi_jsp.jpg -text
docs/framework/xdocs/images/archi_servlet.jpg -text
docs/framework/xdocs/images/fix.jpg -text
docs/framework/xdocs/images/logos/harishsk.jpg -text
docs/framework/xdocs/images/logos/vgritsenko.jpg -text
docs/framework/xdocs/images/logos/vgritsenko2.jpg -text
docs/framework/xdocs/images/remove.jpg -text
docs/framework/xdocs/images/scope.jpg -text
docs/framework/xdocs/images/update.jpg -text
docs/framework/xdocs/index.xml svn_keywords=Author+Date+Id+Revision
docs/framework/xdocs/javadoc.xml svn_keywords=Author+Date+Id+Revision
docs/framework/xdocs/license.xml svn_keywords=Author+Date+Id+Revision
docs/framework/xdocs/logos.xml svn_keywords=Author+Date+Id+Revision
docs/framework/xdocs/misc/archi.ppt -text
docs/framework/xdocs/misc/archi_jsp.ppt -text
docs/framework/xdocs/misc/archi_servlet.ppt -text
docs/framework/xdocs/misc/scope.ppt -text
docs/framework/xdocs/mockobjects.xml svn_keywords=Author+Date+Id+Revision
docs/framework/xdocs/resources.xml svn_keywords=Author+Date+Id+Revision
docs/framework/xdocs/site-book.xml svn_keywords=Author+Date+Id+Revision
docs/framework/xdocs/todo.xml svn_keywords=Author+Date+Id+Revision
docs/sample/README svn_keywords=Author+Date+Id+Revision
src/ant/org/apache/cactus/ant/AbstractServerRun.java svn_keywords=Author+Date+Id+Revision
src/ant/org/apache/cactus/ant/ChangeLogTask.java svn_keywords=Author+Date+Id+Revision
src/ant/org/apache/cactus/ant/EnhydraRun.java svn_keywords=Author+Date+Id+Revision
src/ant/org/apache/cactus/ant/PathConvert.java svn_keywords=Author+Date+Id+Revision
src/ant/org/apache/cactus/ant/ResinRun.java svn_keywords=Author+Date+Id+Revision
src/ant/org/apache/cactus/ant/RunServerTestsTask.java svn_keywords=Author+Date+Id+Revision
src/ant/org/apache/cactus/ant/StartServerHelper.java svn_keywords=Author+Date+Id+Revision
src/ant/org/apache/cactus/ant/StartServerTask.java svn_keywords=Author+Date+Id+Revision
src/ant/org/apache/cactus/ant/StopServerHelper.java svn_keywords=Author+Date+Id+Revision
src/ant/org/apache/cactus/ant/StopServerTask.java svn_keywords=Author+Date+Id+Revision
src/framework/servlet22/org/apache/cactus/server/HttpServletRequestWrapper.java svn_keywords=Author+Date+Id+Revision
src/framework/servlet22/org/apache/cactus/server/RequestDispatcherWrapper.java svn_keywords=Author+Date+Id+Revision
src/framework/servlet22/org/apache/cactus/server/ServletConfigWrapper.java svn_keywords=Author+Date+Id+Revision
src/framework/servlet22/org/apache/cactus/server/ServletContextWrapper.java svn_keywords=Author+Date+Id+Revision
src/framework/servlet23/org/apache/cactus/server/HttpServletRequestWrapper.java svn_keywords=Author+Date+Id+Revision
src/framework/servlet23/org/apache/cactus/server/RequestDispatcherWrapper.java svn_keywords=Author+Date+Id+Revision
src/framework/servlet23/org/apache/cactus/server/ServletConfigWrapper.java svn_keywords=Author+Date+Id+Revision
src/framework/servlet23/org/apache/cactus/server/ServletContextWrapper.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/AbstractTestCase.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/JspTestCase.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/ServiceDefinition.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/ServiceEnumeration.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/ServletTestCase.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/ServletTestRequest.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/ServletURL.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/client/AbstractHttpClient.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/client/AssertionFailedErrorWrapper.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/client/AutoReadHttpURLConnection.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/client/ClientConfigurationChecker.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/client/HttpClientHelper.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/client/JspHttpClient.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/client/ServletExceptionWrapper.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/client/ServletHttpClient.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/overview.html svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/package.html svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/server/JspImplicitObjects.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/server/JspTestCaller.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/server/ServletImplicitObjects.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/server/ServletTestCaller.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/server/ServletTestRedirector.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/util/AssertUtils.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/util/ClientCookie.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/util/log/BaseLog.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/util/log/BaseLogDummy.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/util/log/Log.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/util/log/LogService.java svn_keywords=Author+Date+Id+Revision
src/sample/servlet22/org/apache/cactus/sample/unit/TestServletTestCaseSpecific.java svn_keywords=Author+Date+Id+Revision
src/sample/servlet23/org/apache/cactus/sample/unit/TestServletTestCaseSpecific.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/SampleServlet.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/SampleServletConfig.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/TestSampleServlet.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/TestSampleServletConfig.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/unit/TestJspTestCase.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/unit/TestServletTestCase1.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/unit/TestServletTestCase1_ExceptionNotSerializable.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/unit/TestServletTestCase1_ExceptionSerializable.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/unit/TestServletTestCase1_InterceptorServletTestCase.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/unit/TestServletTestCase2.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/unit/TestServletTestCase3.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/unit/TestServletTestCase4.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/unit/TestServletTestCase5.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/unit/TestServletTestCase5_InterceptorServletTestCase.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/unit/TestServletTestCase_TestResult.java svn_keywords=Author+Date+Id+Revision
src/test/share/org/apache/cactus/TestAll.java svn_keywords=Author+Date+Id+Revision
web/redirector.jsp svn_keywords=Author+Date+Id+Revision
web/sample/test/test.jsp svn_keywords=Author+Date+Id+Revision
