* text=auto !eol
/.cvsignore svn_keywords=Author+Date+Id+Revision
/LICENSE svn_keywords=Author+Date+Id+Revision
/README svn_keywords=Author+Date+Id+Revision
anttasks/README svn_keywords=Author+Date+Id+Revision
anttasks/build.properties.sample svn_keywords=Author+Date+Id+Revision
anttasks/build.xml svn_keywords=Author+Date+Id+Revision
anttasks/conf/manifest svn_keywords=Author+Date+Id+Revision
anttasks/src/java/org/apache/cactus/ant/AbstractServerRun.java svn_keywords=Author+Date+Id+Revision
anttasks/src/java/org/apache/cactus/ant/ArgListProperty.java svn_keywords=Author+Date+Id+Revision
anttasks/src/java/org/apache/cactus/ant/ArgListTask.java svn_keywords=Author+Date+Id+Revision
anttasks/src/java/org/apache/cactus/ant/ChangeLogTask.java svn_keywords=Author+Date+Id+Revision
anttasks/src/java/org/apache/cactus/ant/EnhydraRun.java svn_keywords=Author+Date+Id+Revision
anttasks/src/java/org/apache/cactus/ant/PathConvert.java svn_keywords=Author+Date+Id+Revision
anttasks/src/java/org/apache/cactus/ant/ResinRun.java svn_keywords=Author+Date+Id+Revision
anttasks/src/java/org/apache/cactus/ant/RunServerTestsTask.java svn_keywords=Author+Date+Id+Revision
anttasks/src/java/org/apache/cactus/ant/StartServerHelper.java svn_keywords=Author+Date+Id+Revision
anttasks/src/java/org/apache/cactus/ant/StartServerTask.java svn_keywords=Author+Date+Id+Revision
anttasks/src/java/org/apache/cactus/ant/StopServerHelper.java svn_keywords=Author+Date+Id+Revision
anttasks/src/java/org/apache/cactus/ant/StopServerTask.java svn_keywords=Author+Date+Id+Revision
framework/README svn_keywords=Author+Date+Id+Revision
framework/build.properties.sample svn_keywords=Author+Date+Id+Revision
framework/build.xml svn_keywords=Author+Date+Id+Revision
framework/conf/manifest svn_keywords=Author+Date+Id+Revision
framework/src/java/j2ee12/org/apache/cactus/server/HttpServletRequestWrapper.java svn_keywords=Author+Date+Id+Revision
framework/src/java/j2ee12/org/apache/cactus/server/PageContextWrapper.java svn_keywords=Author+Date+Id+Revision
framework/src/java/j2ee12/org/apache/cactus/server/RequestDispatcherWrapper.java svn_keywords=Author+Date+Id+Revision
framework/src/java/j2ee12/org/apache/cactus/server/ServletConfigWrapper.java svn_keywords=Author+Date+Id+Revision
framework/src/java/j2ee12/org/apache/cactus/server/ServletContextWrapper.java svn_keywords=Author+Date+Id+Revision
framework/src/java/j2ee13/org/apache/cactus/FilterTestCase.java svn_keywords=Author+Date+Id+Revision
framework/src/java/j2ee13/org/apache/cactus/client/FilterHttpClient.java svn_keywords=Author+Date+Id+Revision
framework/src/java/j2ee13/org/apache/cactus/server/FilterConfigWrapper.java svn_keywords=Author+Date+Id+Revision
framework/src/java/j2ee13/org/apache/cactus/server/FilterImplicitObjects.java svn_keywords=Author+Date+Id+Revision
framework/src/java/j2ee13/org/apache/cactus/server/FilterTestCaller.java svn_keywords=Author+Date+Id+Revision
framework/src/java/j2ee13/org/apache/cactus/server/FilterTestController.java svn_keywords=Author+Date+Id+Revision
framework/src/java/j2ee13/org/apache/cactus/server/FilterTestRedirector.java svn_keywords=Author+Date+Id+Revision
framework/src/java/j2ee13/org/apache/cactus/server/HttpServletRequestWrapper.java svn_keywords=Author+Date+Id+Revision
framework/src/java/j2ee13/org/apache/cactus/server/PageContextWrapper.java svn_keywords=Author+Date+Id+Revision
framework/src/java/j2ee13/org/apache/cactus/server/RequestDispatcherWrapper.java svn_keywords=Author+Date+Id+Revision
framework/src/java/j2ee13/org/apache/cactus/server/ServletConfigWrapper.java svn_keywords=Author+Date+Id+Revision
framework/src/java/j2ee13/org/apache/cactus/server/ServletContextWrapper.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/AbstractTestCase.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/Cookie.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/JspTestCase.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/ServiceDefinition.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/ServiceEnumeration.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/ServletTestCase.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/ServletTestRequest.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/ServletURL.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/WebRequest.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/WebResponse.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/WebTestResult.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/client/AbstractHttpClient.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/client/AssertionFailedErrorWrapper.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/client/AutoReadHttpURLConnection.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/client/ClientConfiguration.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/client/ClientConfigurationChecker.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/client/HttpClientHelper.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/client/JspHttpClient.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/client/ServletExceptionWrapper.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/client/ServletHttpClient.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/client/authentication/AbstractAuthentication.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/client/authentication/BasicAuthentication.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/overview.html svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/package.html svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/server/AbstractHttpServletRequestWrapper.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/server/AbstractPageContextWrapper.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/server/AbstractServletContextWrapper.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/server/AbstractTestCaller.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/server/AbstractTestController.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/server/AbstractWebImplicitObjects.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/server/JspImplicitObjects.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/server/JspTestCaller.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/server/JspTestController.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/server/JspTestRedirector.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/server/ServletImplicitObjects.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/server/ServletTestCaller.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/server/ServletTestController.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/server/ServletTestRedirector.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/server/ServletUtil.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/server/WebImplicitObjects.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/util/AssertUtils.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/util/ChainedRuntimeException.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/util/ClientCookie.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/util/JUnitVersionHelper.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/util/log/BaseLog.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/util/log/BaseLogDummy.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/util/log/Log.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/util/log/LogAspect.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/util/log/LogManagerAspect.java svn_keywords=Author+Date+Id+Revision
framework/src/java/share/org/apache/cactus/util/log/LogService.java svn_keywords=Author+Date+Id+Revision
framework/src/test/share/org/apache/cactus/TestAbstractTestCase.java svn_keywords=Author+Date+Id+Revision
framework/src/test/share/org/apache/cactus/TestAbstractTestCase_InterceptorTestCase.java svn_keywords=Author+Date+Id+Revision
framework/src/test/share/org/apache/cactus/TestAll.java svn_keywords=Author+Date+Id+Revision
framework/src/test/share/org/apache/cactus/TestServletURL.java svn_keywords=Author+Date+Id+Revision
framework/src/test/share/org/apache/cactus/TestServletUtil.java svn_keywords=Author+Date+Id+Revision
framework/src/test/share/org/apache/cactus/mock/MockHttpURLConnection.java svn_keywords=Author+Date+Id+Revision
framework/web/jspRedirector.jsp svn_keywords=Author+Date+Id+Revision
src/framework/servlet22/org/apache/cactus/server/HttpServletRequestWrapper.java svn_keywords=Author+Date+Id+Revision
src/framework/servlet22/org/apache/cactus/server/PageContextWrapper.java svn_keywords=Author+Date+Id+Revision
src/framework/servlet22/org/apache/cactus/server/RequestDispatcherWrapper.java svn_keywords=Author+Date+Id+Revision
src/framework/servlet22/org/apache/cactus/server/ServletConfigWrapper.java svn_keywords=Author+Date+Id+Revision
src/framework/servlet22/org/apache/cactus/server/ServletContextWrapper.java svn_keywords=Author+Date+Id+Revision
src/framework/servlet23/org/apache/cactus/FilterTestCase.java svn_keywords=Author+Date+Id+Revision
src/framework/servlet23/org/apache/cactus/client/FilterHttpClient.java svn_keywords=Author+Date+Id+Revision
src/framework/servlet23/org/apache/cactus/server/FilterConfigWrapper.java svn_keywords=Author+Date+Id+Revision
src/framework/servlet23/org/apache/cactus/server/FilterImplicitObjects.java svn_keywords=Author+Date+Id+Revision
src/framework/servlet23/org/apache/cactus/server/FilterTestCaller.java svn_keywords=Author+Date+Id+Revision
src/framework/servlet23/org/apache/cactus/server/FilterTestController.java svn_keywords=Author+Date+Id+Revision
src/framework/servlet23/org/apache/cactus/server/FilterTestRedirector.java svn_keywords=Author+Date+Id+Revision
src/framework/servlet23/org/apache/cactus/server/HttpServletRequestWrapper.java svn_keywords=Author+Date+Id+Revision
src/framework/servlet23/org/apache/cactus/server/PageContextWrapper.java svn_keywords=Author+Date+Id+Revision
src/framework/servlet23/org/apache/cactus/server/RequestDispatcherWrapper.java svn_keywords=Author+Date+Id+Revision
src/framework/servlet23/org/apache/cactus/server/ServletConfigWrapper.java svn_keywords=Author+Date+Id+Revision
src/framework/servlet23/org/apache/cactus/server/ServletContextWrapper.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/AbstractTestCase.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/Cookie.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/JspTestCase.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/ServiceDefinition.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/ServiceEnumeration.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/ServletTestCase.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/ServletTestRequest.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/ServletURL.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/WebRequest.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/WebResponse.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/WebTestResult.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/client/AbstractHttpClient.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/client/AssertionFailedErrorWrapper.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/client/AutoReadHttpURLConnection.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/client/ClientConfiguration.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/client/ClientConfigurationChecker.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/client/HttpClientHelper.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/client/JspHttpClient.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/client/ServletExceptionWrapper.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/client/ServletHttpClient.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/client/authentication/AbstractAuthentication.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/client/authentication/BasicAuthentication.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/overview.html svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/package.html svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/server/AbstractHttpServletRequestWrapper.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/server/AbstractPageContextWrapper.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/server/AbstractServletContextWrapper.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/server/AbstractTestCaller.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/server/AbstractTestController.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/server/JspImplicitObjects.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/server/JspTestCaller.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/server/JspTestController.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/server/JspTestRedirector.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/server/ServletImplicitObjects.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/server/ServletTestCaller.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/server/ServletTestController.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/server/ServletTestRedirector.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/server/ServletUtil.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/server/WebImplicitObjects.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/util/AssertUtils.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/util/ChainedRuntimeException.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/util/ClientCookie.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/util/JUnitVersionHelper.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/util/log/BaseLog.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/util/log/BaseLogDummy.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/util/log/Log.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/util/log/LogAspect.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/util/log/LogManagerAspect.java svn_keywords=Author+Date+Id+Revision
src/framework/share/org/apache/cactus/util/log/LogService.java svn_keywords=Author+Date+Id+Revision
src/sample/servlet22/org/apache/cactus/TestAll.java svn_keywords=Author+Date+Id+Revision
src/sample/servlet22/org/apache/cactus/sample/unit/TestServletTestCaseSpecific.java svn_keywords=Author+Date+Id+Revision
src/sample/servlet23/org/apache/cactus/TestAll.java svn_keywords=Author+Date+Id+Revision
src/sample/servlet23/org/apache/cactus/sample/SampleFilter.java svn_keywords=Author+Date+Id+Revision
src/sample/servlet23/org/apache/cactus/sample/TestSampleFilter.java svn_keywords=Author+Date+Id+Revision
src/sample/servlet23/org/apache/cactus/sample/unit/TestServletTestCaseSpecific.java svn_keywords=Author+Date+Id+Revision
src/sample/servlet23/org/apache/cactus/sample/util/FilterServletOutputStream.java svn_keywords=Author+Date+Id+Revision
src/sample/servlet23/org/apache/cactus/sample/util/GenericResponseWrapper.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/SampleBodyTag.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/SampleServlet.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/SampleServletConfig.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/SampleTag.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/TestSampleBodyTag.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/TestSampleServlet.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/TestSampleServletConfig.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/TestSampleTag.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/unit/TestJspTestCase.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/unit/TestServletTestCase1.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/unit/TestServletTestCase1_ExceptionNotSerializable.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/unit/TestServletTestCase1_ExceptionSerializable.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/unit/TestServletTestCase1_InterceptorServletTestCase.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/unit/TestServletTestCase2.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/unit/TestServletTestCase3.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/unit/TestServletTestCase4.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/unit/TestServletTestCase5.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/unit/TestServletTestCase5_InterceptorServletTestCase.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/unit/TestServletTestCase_Authentication.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/unit/TestServletTestCase_OverrideRedirector.java svn_keywords=Author+Date+Id+Revision
src/sample/share/org/apache/cactus/sample/unit/TestServletTestCase_TestResult.java svn_keywords=Author+Date+Id+Revision
src/test/share/org/apache/cactus/TestAbstractTestCase.java svn_keywords=Author+Date+Id+Revision
src/test/share/org/apache/cactus/TestAbstractTestCase_InterceptorTestCase.java svn_keywords=Author+Date+Id+Revision
src/test/share/org/apache/cactus/TestAll.java svn_keywords=Author+Date+Id+Revision
src/test/share/org/apache/cactus/TestServletURL.java svn_keywords=Author+Date+Id+Revision
src/test/share/org/apache/cactus/TestServletUtil.java svn_keywords=Author+Date+Id+Revision
src/test/share/org/apache/cactus/mock/MockHttpURLConnection.java svn_keywords=Author+Date+Id+Revision
web/jspRedirector.jsp svn_keywords=Author+Date+Id+Revision
web/sample/test/test.jsp svn_keywords=Author+Date+Id+Revision
