* text=auto !eol
/.classpath -text
/.project -text
cactus-maven-skin/src/main/resources/images/banner.jpg -text
cactus-maven-skin/src/main/resources/images/bg.jpg -text
cactus-maven-skin/src/main/resources/images/breadcrumbs.jpg -text
cactus-maven-skin/src/main/resources/images/collapsed.gif -text
cactus-maven-skin/src/main/resources/images/expanded.gif -text
cactus-maven-skin/src/main/resources/images/h3.jpg -text
cactus-maven-skin/src/main/resources/images/h5.jpg -text
cactus-maven-skin/src/main/resources/images/icon_error_sml.gif -text
cactus-maven-skin/src/main/resources/images/icon_info_sml.gif -text
cactus-maven-skin/src/main/resources/images/icon_success_sml.gif -text
cactus-maven-skin/src/main/resources/images/icon_warning_sml.gif -text
cactus-site/src/site/resources/favicon.ico -text
cactus-site/src/site/resources/images/archi.jpg -text
cactus-site/src/site/resources/images/archi_filter.jpg -text
cactus-site/src/site/resources/images/archi_jsp.jpg -text
cactus-site/src/site/resources/images/archi_servlet.jpg -text
cactus-site/src/site/resources/images/archiani.gif -text
cactus-site/src/site/resources/images/cactusbanner.gif -text
cactus-site/src/site/resources/images/classpath.jpg -text
cactus-site/src/site/resources/images/config.jpg -text
cactus-site/src/site/resources/images/eclipse/runner/cactify.png -text
cactus-site/src/site/resources/images/eclipse/runner/junit.png -text
cactus-site/src/site/resources/images/eclipse/runner/launchshortcut.png -text
cactus-site/src/site/resources/images/eclipse/runner/preferences.png -text
cactus-site/src/site/resources/images/eclipse/runner/preferences_containers.png -text
cactus-site/src/site/resources/images/eclipse/webapp/propertypage.png -text
cactus-site/src/site/resources/images/ecosystem.jpg -text
cactus-site/src/site/resources/images/external.png -text
cactus-site/src/site/resources/images/jakarta-logo.gif -text
cactus-site/src/site/resources/images/jb_libraries.gif -text
cactus-site/src/site/resources/images/jb_paths.gif -text
cactus-site/src/site/resources/images/jetty_eclipse.png -text
cactus-site/src/site/resources/images/logocactus.gif -text
cactus-site/src/site/resources/images/new.jpg -text
cactus-site/src/site/resources/images/scope.jpg -text
cactus-site/src/site/resources/images/sequence.jpg -text
cactus-site/src/site/resources/images/servlettestrunner_html.jpg -text
cactus-site/src/site/resources/images/servlettestrunner_xml.jpg -text
cactus-site/src/site/resources/images/tomcat_html.jpg -text
cactus-site/src/site/resources/images/tomcat_xml.jpg -text
cactus-site/src/site/resources/participating/images/logos/aceglia1.jpg -text
cactus-site/src/site/resources/participating/images/logos/aceglia2.jpg -text
cactus-site/src/site/resources/participating/images/logos/aceglia3.jpg -text
cactus-site/src/site/resources/participating/images/logos/adhawan.jpg -text
cactus-site/src/site/resources/participating/images/logos/ajasso.gif -text
cactus-site/src/site/resources/participating/images/logos/bogglins.gif -text
cactus-site/src/site/resources/participating/images/logos/eoghan1.gif -text
cactus-site/src/site/resources/participating/images/logos/eoghan2.jpg -text
cactus-site/src/site/resources/participating/images/logos/gsprasad.png -text
cactus-site/src/site/resources/participating/images/logos/harishsk.jpg -text
cactus-site/src/site/resources/participating/images/logos/jgresse.gif -text
cactus-site/src/site/resources/participating/images/logos/kaktus7ll.gif -text
cactus-site/src/site/resources/participating/images/logos/lthouvenot.gif -text
cactus-site/src/site/resources/participating/images/logos/outoftheboxweb.gif -text
cactus-site/src/site/resources/participating/images/logos/sraja.jpg -text
cactus-site/src/site/resources/participating/images/logos/vgritsenko.jpg -text
cactus-site/src/site/resources/participating/images/logos/vgritsenko2.jpg -text
cactus-site/src/site/xdoc/original/Sequence.dfSequence -text
cactus-site/src/site/xdoc/original/archi.ppt -text
cactus-site/src/site/xdoc/original/archi_classpath.ppt -text
cactus-site/src/site/xdoc/original/archi_classpath_ptt.ppt -text
cactus-site/src/site/xdoc/original/archi_filter.ppt -text
cactus-site/src/site/xdoc/original/archi_jsp.ppt -text
cactus-site/src/site/xdoc/original/archi_servlet.ppt -text
cactus-site/src/site/xdoc/original/archiani.ppt -text
cactus-site/src/site/xdoc/original/ecosystem.ppt -text
cactus-site/src/site/xdoc/original/ecosystem_ptt.ppt -text
cactus-site/src/site/xdoc/original/scope.ppt -text
cactus-site/src/site/xdoc/original/scope_ptt.ppt -text
framework/framework-12-13-14/src/main/java/org/apache/cactus/client/authentication/package.html -text
framework/framework-12-13-14/src/main/java/org/apache/cactus/internal/client/connector/http/package.html -text
framework/framework-12-13-14/src/main/java/org/apache/cactus/internal/client/package.html -text
framework/framework-12-13-14/src/main/java/org/apache/cactus/internal/configuration/package.html -text
framework/framework-12-13-14/src/main/java/org/apache/cactus/internal/package.html -text
framework/framework-12-13-14/src/main/java/org/apache/cactus/internal/server/package.html -text
framework/framework-12-13-14/src/main/java/org/apache/cactus/internal/server/runner/package.html -text
framework/framework-12-13-14/src/main/java/org/apache/cactus/internal/util/package.html -text
framework/framework-12-13-14/src/main/java/org/apache/cactus/package.html -text
framework/framework-12-13-14/src/main/java/org/apache/cactus/server/package.html -text
framework/framework-12-13-14/src/main/java/org/apache/cactus/server/runner/package.html -text
framework/framework-12-13-14/src/main/java/org/apache/cactus/spi/client/package.html -text
framework/framework-12-13-14/src/main/java/org/apache/cactus/util/package.html -text
framework/framework-12-13-14/src/main/java/overview.html -text
framework/framework-13-14/src/main/java/org/apache/cactus/extension/jetty/package.html -text
framework/framework-13-14/src/main/java/org/apache/cactus/extension/jsp/package.html -text
framework/framework-13-14/src/main/java/org/apache/cactus/internal/client/connector/http/package.html -text
framework/framework-13-14/src/main/java/org/apache/cactus/internal/client/package.html -text
framework/framework-13-14/src/main/java/org/apache/cactus/internal/configuration/package.html -text
framework/framework-13-14/src/main/java/org/apache/cactus/internal/package.html -text
framework/framework-13-14/src/main/java/org/apache/cactus/internal/server/package.html -text
framework/framework-13-14/src/main/java/org/apache/cactus/internal/server/runner/package.html -text
framework/framework-13-14/src/main/java/org/apache/cactus/internal/util/package.html -text
framework/framework-13-14/src/main/java/org/apache/cactus/server/package.html -text
framework/framework-13-14/src/main/java/org/apache/cactus/server/runner/package.html -text
integration/ant/src/main/java/org/apache/cactus/integration/ant/container/package.html -text
integration/ant/src/main/java/org/apache/cactus/integration/ant/package.html -text
integration/ant/src/main/java/org/apache/cactus/integration/ant/util/package.html -text
integration/ant/src/test-input/org/apache/cactus/integration/ant/cactified.ear -text
integration/ant/src/test-input/org/apache/cactus/integration/ant/cactified.war -text
integration/ant/src/test-input/org/apache/cactus/integration/ant/containscactusjars.war -text
integration/ant/src/test-input/org/apache/cactus/integration/ant/deployment/containsclass.jar -text
integration/ant/src/test-input/org/apache/cactus/integration/ant/deployment/containsclass.war -text
integration/ant/src/test-input/org/apache/cactus/integration/ant/deployment/containsclasslib.war -text
integration/ant/src/test-input/org/apache/cactus/integration/ant/deployment/empty.jar -text
integration/ant/src/test-input/org/apache/cactus/integration/ant/deployment/empty.war -text
integration/ant/src/test-input/org/apache/cactus/integration/ant/deployment/randomaccess.jar -text
integration/ant/src/test-input/org/apache/cactus/integration/ant/empty-2_2.war -text
integration/ant/src/test-input/org/apache/cactus/integration/ant/empty-2_3.war -text
integration/ant/src/test-input/org/apache/cactus/integration/ant/empty.ear -text
integration/ant/src/test-input/org/apache/cactus/integration/ant/empty.war -text
integration/ant/src/test-input/org/apache/cactus/integration/ant/formloginconfig.war -text
integration/ant/src/test-input/org/apache/cactus/integration/ant/notcactified.ear -text
integration/ant/src/test-input/org/apache/cactus/integration/ant/nowebxml.war -text
integration/ant/src/test-input/org/apache/cactus/integration/ant/weblogic.ear -text
integration/ant/src/test-input/org/apache/cactus/integration/ant/weblogic.war -text
integration/eclipse/org.apache.cactus.eclipse.feature/logocactus.gif -text
integration/eclipse/org.apache.cactus.eclipse.runner/icons/calaunch.gif -text
integration/maven/build.properties.sample -text
integration/shared-api/src/main/java/org/apache/cactus/integration/api/deployable/package.html -text
