# -----------------------------------------------------------------------------
# build.properties.sample
#
# This is an example "build.properties" file, used to customize building the
# full Cactus project for your local environment.  Make any changes you need,
# and rename this file to "build.properties" in the same directory that
# contains the "build.xml" file.
#
# $Id$
# -----------------------------------------------------------------------------

# WARNING:  The relative paths below are relative to the directory where the
# build.xml file is located.

# -----------------------------------------------------------------------------
# Mandatory properties
# -----------------------------------------------------------------------------

# Location of all jars. Note: This is not a mandatory property. It is only
# used in so that it can be reused when defining the location of all the jars
# below. You do not have to put all the external jars in a single location.
lib.repo = c:/apps/repo

# The location of the J2EE API jar. Depending on the version (1.2 or 1.3) of
# it, the corresponding Cactus Framework will be built. For example if you use
# J2EE 1.3 jar, then the Cactus jar will contain the Filter Redirector which is
# only available for Servlet 2.3 (part of J2EE 1.3).
j2ee.jar = ${lib.repo}/j2ee-1.3.jar

# Location of the Servlet API jar (it is needed because we want to copy it
# in the Cactus distribution).
servlet.jar = ${lib.repo}/servletapi-2.3.jar

# The location of the log4j jar
log4j.jar = ${lib.repo}/log4j-1.2.5.jar

# The location of the Commons Httpclient jar
commons.httpclient.jar = ${lib.repo}/commons-httpclient-2.0alpha1-20020720.jar

# The location of the Httpunit jar
httpunit.jar = ${lib.repo}/httpunit-1.4.1.jar

# The location of the AspectJ runtime jar
aspectjrt.jar = ${lib.repo}/aspectjrt-1.0.5.jar

# The location of the Junit jar
junit.jar = ${lib.repo}/junit-3.7.jar

# CVS executable to use for documentation generation (used to automatically
# generate web site changelog).
cvs.executable = cvs

# -----------------------------------------------------------------------------
# Optional properties
# -----------------------------------------------------------------------------

# Locations J2EE APIs for the "all" target (which builds the Cactus framework
# for both APIs)
#j2ee.12.jar = ${lib.repo}/j2ee-1.2.jar
#j2ee.13.jar = ${lib.repo}/j2ee-1.3.jar

# The port to use for starting the servers during unit testing. If not
# sepcified, it defaults to port 8080.
#test.port = 8081

# Servlet engine locations for the tests

# Note: If you don't want to run the test on a given servlet engine, just
#       comment it's home property. For example, if you don't want to run the
#       tests on the Resin 1.2, comment the "resin.home.12" property.

#resin.home.12 = xxx
#tomcat.home.32 = c:/Apps/jakarta-tomcat-3.2.4
#weblogic.home.51 = xxx
#orion.home.15 = c:/Apps/orion-1.5.4
#orion.home.16 = c:/Apps/orion-1.6.0
#resin.home.20 = c:/Apps/resin-2.1.0
#tomcat.home.40 = c:/Apps/jakarta-tomcat-4.1.3
#resin.home.13 = xxx
#tomcat.home.33 = c:/Apps/jakarta-tomcat-3.3.1

# Note: Enhydra 3.3.1 does not seem to support BASIC authentication as defined
# in the Servlet spec. and thus the tests which involve security are failing.
# All other tests work fine. This is a limitation of Enhydra.
#enhydra.home.31 = c:/Apps/enhydra3.1.1b1

# Note: weblogic.home.61 is the location of BEA Home and NOT the location of
# wlserver6.1, inside the bea home directory.
#weblogic.home.61 = c:/Apps/bea

# Note: weblogic.home.70 is the location of BEA Home and NOT the location of
# wlserver7.0, inside the bea home directory.
#weblogic.home.70 = c:/bea

# Note: There seems to be a bug in Orion 1.4 preventing it to run correctly
#       the testSendUserData() test. It runs fine in Orion 1.5 though.
#orion.home.14 = xxx

# Should we instrument our code with Clover (test coverage tool) ?
# Comment out to disable Clover (setting the property to false will have no
# effect).
#clover.enable = true

# Clover jar
clover.jar = ${lib.repo}/clover-0.5b.jar

# -----------------------------------------------------------------------------
# Optional properties used by the build-admin.xml Ant build script only
# -----------------------------------------------------------------------------

# j2ee.12.jar and j2ee.13.jar must be defined when running build-admin.xml
# (they should be defined above in the optional section).

# Username to use when connection to jakarta.apache.org
admin.jakarta.username=vmassol

# Executable to perform remote copy of files
admin.scp = scp

# Executable to perform remote login to Jakarta web site
admin.ssh = ssh
