<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.0//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_0.dtd">

<!-- Checkstyle properties for Cactus projects -->
<module name="Checker">
  
  <module name="TreeWalker">
    <module name="AvoidStarImport"/>
    <module name="ConstantNameCheck"/>
    <module name="EmptyBlockCheck">
      <property name="option" value="text"/>
    </module>
    <!-- module name="EqualsHashCodeCheck"/ -->
    <module name="FileLengthCheck"/>
    <module name="HeaderCheck">
      <property name="headerFile" value="${checkstyle.header.file}"/>
    </module>
    <module name="IllegalImportCheck"/>
    <module name="IllegalInstantiationCheck"/>
    <module name="InnerAssignmentCheck"/>
    <module name="JavadocTypeCheck">
      <property name="authorFormat" value="\S"/>
    </module>
    <module name="JavadocMethodCheck">
      <property name="checkUnusedThrows" value="true"/>
    </module>
    <module name="JavadocVariableCheck"/>
    <module name="LineLengthCheck">
      <property name="ignorePattern" value="(@version|@see)"/>
    </module>
    <module name="LocalFinalVariableNameCheck"/>
    <module name="LocalVariableNameCheck"/>
    <module name="MemberNameCheck"/>
    <module name="MethodLeftCurlyCheck">
      <property name="option" value="nl"/>
    </module>
    <module name="MethodLengthCheck"/>
    <module name="MethodNameCheck"/>
    <module name="ModifierCheck"/>
    <module name="NeedBracesCheck"/>
    <module name="NoWhitespaceAfterCheck"/>
    <module name="NoWhitespaceBeforeCheck"/>
    <module name="NoWhitespaceAfterCheck">
      <property name="tokens" value="DOT"/>
      <property name="allowLineBreaks" value="true"/>
    </module>
    <module name="NoWhitespaceBeforeCheck">
      <property name="tokens" value="DOT"/>
      <property name="allowLineBreaks" value="true"/>
    </module>
    <module name="OperatorWrapCheck"/>
    <module name="OperatorWrapCheck">
      <property name="tokens" value="ASSIGN, DIV_ASSIGN, PLUS_ASSIGN, MINUS_ASSIGN, STAR_ASSIGN, MOD_ASSIGN, SR_ASSIGN, BSR_ASSIGN, SL_ASSIGN, BXOR_ASSIGN, BOR_ASSIGN, BAND_ASSIGN"/>
      <property name="option" value="eol"/>
    </module>
    <module name="OtherLeftCurlyCheck">
      <property name="option" value="nl"/>
    </module>
    <module name="PackageNameCheck"/>
    <module name="ParameterNameCheck">
      <property name="format" value="^(the|is|has)[A-Z][a-zA-Z0-9]*$"/>
    </module>
    <module name="ParameterNumberCheck"/>
    <module name="ParenPadCheck"/>
    <module name="PublicMemberNameCheck">
      <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
    </module>
    <module name="RedundantImportCheck"/>
    <module name="RedundantModifierCheck"/>
    <module name="RightCurlyCheck">
      <property name="option" value="alone"/>
    </module>
    <module name="SimplifyBooleanExpressionCheck"/>
    <module name="SimplifyBooleanReturnCheck"/>
    <module name="StaticVariableNameCheck"/>
    <module name="TabCharacterCheck"/>
    <module name="TypeLeftCurlyCheck">
      <property name="option" value="nl"/>
    </module>
    <module name="TypeNameCheck"/>
    <module name="UnusedImportsCheck"/>
    <module name="UpperEllCheck"/>
    <module name="VisibilityModifierCheck">
      <property name="protectedAllowed" value="true"/>
      <property name="publicMemberPattern" value="^[a-z][a-zA-Z0-9]*$"/>
    </module>
    <module name="WhitespaceAfterCheck"/>
    <module name="WhitespaceAroundCheck"/>
  </module>
  
</module>
