<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.apache.cactus.eclipse.runner"
   name="%pluginName"
   version="1.8.0"
   provider-name="%providerName"
   class="org.apache.cactus.eclipse.runner.ui.CactusPlugin">

   <runtime>
      <library name="org.apache.cactus.eclipse.runner-1.8.0-SNAPSHOT.jar">  
         <export name="*"/>
         <packages prefixes="org.apache.cactus.eclipse.runner"/>
      </library> 
   </runtime>

   <requires>
      <import plugin="org.apache.ant"/>
      <import plugin="org.apache.cactus.eclipse.webapp"/>
      <import plugin="org.eclipse.ant.core"/>
      <import plugin="org.eclipse.core.boot"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.debug"/>
      <import plugin="org.eclipse.jdt.junit"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.jdt.ui"/>      
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.ui"/>   
   </requires>


<!-- Registers the Cactus launch configuration -->
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="%Launch.label"
            delegate="org.apache.cactus.eclipse.runner.launcher.CactusLaunchConfiguration"
            modes="run, debug"
            id="org.apache.cactus.eclipse.runner.launchconfig">
         <fileExtension
               default="false"
               extension="java">
         </fileExtension>
         <fileExtension
               default="false"
               extension="class">
         </fileExtension>
      </launchConfigurationType>
      <launchConfigurationType
            name="%Launch.jetty.label"
            delegate="org.apache.cactus.eclipse.runner.launcher.JettyCactusLaunchConfiguration"
            modes="run, debug"
            id="org.apache.cactus.eclipse.runner.launchconfig.jetty">
         <fileExtension
               default="false"
               extension="java">
         </fileExtension>
         <fileExtension
               default="false"
               extension="class">
         </fileExtension>
      </launchConfigurationType>
   </extension>
<!-- Registers the Cactus launch shortcut (runs a launch configuration
    on a selected class in the workbench) -->
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="%CactusShortcut.label"
            icon="icons/calaunch.gif"
            modes="run, debug"
            class="org.apache.cactus.eclipse.runner.launcher.CactusLaunchShortcut"
            id="org.apache.cactus.eclipse.runner.cactusShortcut">
         <perspective
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         </perspective>
         <perspective
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspective>
      </shortcut>
   </extension>
<!-- Registers the Cactus launch configuration image (it is the image that
    appears in the Launch configuration dialog box) -->
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/calaunch.gif"
            configTypeID="org.apache.cactus.eclipse.runner.launchconfig"
            id="org.apache.cactus.eclipse.runner.launchimage">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            icon="icons/calaunch.gif"
            configTypeID="org.apache.cactus.eclipse.runner.launchconfig.jetty"
            id="org.apache.cactus.eclipse.runner.launchimage.jetty">
      </launchConfigurationTypeImage>
   </extension>
<!-- Registers the JUnit Tab groups for the Cactus plugin (in the future
    Cactus will have its own TabGroup) -->
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.apache.cactus.eclipse.runner.launchconfig"
            class="org.eclipse.jdt.internal.junit.launcher.JUnitTabGroup"
            id="org.apache.cactus.eclipse.runner.launchConfigurationTabGroup.junit">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            type="org.apache.cactus.eclipse.runner.launchconfig.jetty"
            class="org.eclipse.jdt.internal.junit.launcher.JUnitTabGroup"
            id="org.apache.cactus.eclipse.runner.launchConfigurationTabGroup.junit">
      </launchConfigurationTabGroup>
   </extension>
<!-- Registers the Cactus preferences page -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%PreferencePage.label"
            class="org.apache.cactus.eclipse.runner.ui.CactusPreferencePage"
            id="org.apache.cactus.eclipse.runner.preferencePage">
      </page>
      <page
            name="%ContainersPreferencePage.label"
            category="org.apache.cactus.eclipse.runner.preferencePage"
            class="org.apache.cactus.eclipse.runner.ui.ContainersPreferencePage"
            id="org.apache.cactus.eclipse.runner.ui.containersPreferencePage">
      </page>
   </extension>
<!-- Adds a popup menu in the JDT perspective -->
   <extension
         id="org.apache.cactus.eclipse.runner.ui.PopupMenus"
         name="Cactify"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.apache.cactus.eclipse.runner.ui.Cactify">
         <action
               label="%PopupMenu.cactify"
               icon="icons/calaunch.gif"
               tooltip="%PopupMenu.cactifyTip"
               class="org.apache.cactus.eclipse.runner.ui.CactifyActionDelegate"
               menubarPath="additions"
               enablesFor="1"
               id="org.apache.cactus.eclipse.runner.ui.CactifyAction">
         </action>
      </objectContribution>
   </extension>
<!-- Extra Classpath - The wrong Jar file is there on purpose. This is a trick to force
   the AntCore classloader to use the Cactus plugin classloader instead of an JarClassLoader.
   -->
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="org.apache.cactus.eclipse.runner-1.8.0-SNAPSHOT-src.zip">
      </extraClasspathEntry>
   </extension>

</plugin>
