# -----------------------------------------------------------------------------
# Environment-dependent properties. Create a copy of this file and
# name if build.properties. Then edit the file and tune it to match your
# environment.
#
# $Id: build.properties.sample 239203 2005-08-17 04:58:05Z felipeal $
# -----------------------------------------------------------------------------

# Properties required to upload the Cactus plugin web site
maven.username = vmassol
maven.ssh.executable = tortoiseplink
maven.scp.executable = pscp

# (optional). Properties to use if you're behind a firewall
#maven.proxy.host = 
#maven.proxy.port = 
#maven.proxy.username = 
#maven.proxy.password =

maven.repo.apachecvs=scp://people.apache.org
maven.repo.apachecvs.directory=/www/www.apache.org/dist/java-repository
maven.repo.apachecvs.group=jakarta
# These must be set elsewhere
maven.repo.apachecvs.username=
maven.repo.apachecvs.privatekey=
maven.repo.apachecvs.passphrase=
