# -----------------------------------------------------------------------------
# build.properties.sample
#
# This is an example "build.properties" file, used to customize building the
# Cactus Framework for your local environment.  Make any changes you need, and
# rename this file to "build.properties" in the same directory that contains the
# "build.xml" file.
#
# $Id$
# -----------------------------------------------------------------------------

# WARNING:  The relative paths below are relative to the parent directory
# of this file

# -----------------------------------------------------------------------------
# Mandatory properties
# -----------------------------------------------------------------------------

# Location of all jars. Note: This is not a mandatory property. It is only
# used in so that it can be reused when defining the location of all the jars
# below. You do not have to put all the external jars in a single location.
lib.repo = c:/apps/repo

# The location of the J2EE API jar. Depending on the version (1.2 or 1.3) of
# it, the corresponding Cactus Framework will be built. For example if you use
# J2EE 1.3 jar, then the Cactus jar will contain the Filter Redirector which is
# only available for Servlet 2.3 (part of J2EE 1.3).
j2ee.jar = ${lib.repo}/servletapi-2.3.jar

# The location of the log4j jar
log4j.jar = ${lib.repo}/log4j-1.2.5.jar

# The location of the Commons Httpclient jar
commons.httpclient.jar = ${lib.repo}/commons-httpclient-2.0alpha1-20020606.jar

# The location of the Httpunit jar
httpunit.jar = ${lib.repo}/httpunit-1.4.jar

# -----------------------------------------------------------------------------
# Optional properties
# -----------------------------------------------------------------------------

# Locations J2EE APIs for the "all" target (which builds the Cactus framework
# for both APIs)
#j2ee.12.jar = ${lib.repo}/j2ee-1.2.jar
#j2ee.13.jar = ${lib.repo}/j2ee-1.3.jar

# Should we instrument our code with Clover (test coverage tool) ?
# Comment out to disable Clover (setting the property to false will have no
# effect).
#clover.enable = true
