# -----------------------------------------------------------------------------
# build.properties.sample
#
# This is an example "build.properties" file, used to customize building the
# Cactus Framework for your local environment.  Make any changes you need, and
# rename this file to "build.properties" in the same directory that contains the
# "build.xml" file.
#
# $Id$
# -----------------------------------------------------------------------------

# WARNING:  The relative paths below are relative to the parent directory
# of this file

# -----------------------------------------------------------------------------
# Mandatory properties
# -----------------------------------------------------------------------------

# Location of all jars. Note: This is not a mandatory property. It is only
# used in so that it can be reused when defining the location of all the jars
# below. You do not have to put all the external jars in a single location.
lib.repo = c:/apps/maven/repository

# The location of the J2EE API jar. Depending on the version (1.2 or 1.3) of
# it, the corresponding Cactus Framework will be built. For example if you use
# J2EE 1.3 jar, then the Cactus jar will contain the Filter Redirector which is
# only available for Servlet 2.3 (part of J2EE 1.3).
j2ee.jar = ${lib.repo}/j2ee/jars/j2ee-1.3.jar

# The location of the Commons Logging jar
commons.logging.jar = ${lib.repo}/commons-logging/jars/commons-logging-1.0.3.jar

# The location of the log4j jar
log4j.jar = ${lib.repo}/log4j/jars/log4j-1.2.8.jar

# The location of the Commons Httpclient jar
commons.httpclient.jar = ${lib.repo}/commons-httpclient/jars/commons-httpclient-2.0-beta2.jar

# The location of the Httpunit jar
httpunit.jar = ${lib.repo}/httpunit/jars/httpunit-1.5.jar

# -----------------------------------------------------------------------------
# Optional properties
# -----------------------------------------------------------------------------

# The location of the AspectJ runtime jar
# If not specified here, the jar must be present in ANTHOME/lib
aspectjrt.jar = ${lib.repo}/aspectj/jars/aspectjrt-1.0.6.jar

# The location of the AspectJ tools jar
# If not specified here, the jar must be present in ANTHOME/lib
aspectj-tools.jar = ${lib.repo}/aspectj/jars/aspectj-tools-1.0.6.jar

# The location of the AspectJ Ant tasks jar
# If not specified here, the jar must be present in ANTHOME/lib
aspectj-ant.jar = ${lib.repo}/aspectj/jars/aspectj-ant-1.0.6.jar

# Dependencies for Checkstyle code auditing
# If not specified here, the JARs must be present in ANTHOME/lib
antlr.jar = ${lib.repo}/antlr/jars/antlr-2.7.2.jar
checkstyle.jar = ${lib.repo}/checkstyle/jars/checkstyle-3.1.jar
commons.beanutils.jar = ${lib.repo}/commons-beanutils/jars/commons-beanutils-1.6.1.jar
commons.collections.jar = ${lib.repo}/commons-collections/jars/commons-collections-2.1.jar
regexp.jar = ${lib.repo}/regexp/jars/regexp-1.2.jar

# Should we instrument our code with Clover (test coverage tool) ?
# For this to work, the clover.jar needs to be in ANTHOME/lib.
# Comment out to disable Clover (setting the property to false will have no
# effect).
#clover.enable = true
