# -----------------------------------------------------------------------------
# build.properties.sample
#
# This is an example "build.properties" file, used to customize building Cactus
# Ant custom tasks for your local environment.  Make any changes you need, and
# rename this file to "build.properties" in the same directory that contains the
# "build.xml" file.
#
# $Id$
# -----------------------------------------------------------------------------

# WARNING:  The relative paths below are relative to the directory where the
# build.xml file is located.

# -----------------------------------------------------------------------------
# Mandatory properties
# -----------------------------------------------------------------------------

# -----------------------------------------------------------------------------
# Optional properties
# -----------------------------------------------------------------------------

# Dependencies for Checkstyle code auditing. If not specified here, the JARs 
# must be present in ANTHOME/lib.

# Location of all jars. Note: This is not a mandatory property. It is only
# used here so that it can be reused when defining the location of all the jars
# below. You do not have to put all the external jars in a single location.
lib.repo = c:/apps/maven/repository

antlr.jar = ${lib.repo}/antlr/jars/antlr-2.7.1.jar
checkstyle.jar = ${lib.repo}/checkstyle/jars/checkstyle-2.4.jar
commons.beanutils.jar = ${lib.repo}/commons-beanutils/jars/commons-beanutils-1.5.jar
commons.collections.jar = ${lib.repo}/commons-collections/jars/commons-collections-2.1.jar
regexp.jar = ${lib.repo}/regexp/jars/regexp-1.2.jar

