<?xml version="1.0" encoding="UTF-8"?>

<plugin id="org.apache.cactus.eclipse"
  name="%pluginName"
  version="0.1"
  provider-name="%providerName"
  class="org.apache.cactus.eclipse.ui.CactusPlugin">

   <runtime>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.boot"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.jdt.debug"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.jdt.debug.ui"/>
      <import plugin="org.eclipse.jdt.junit"/>
      <import plugin="org.junit"/>
   </requires>

   <!-- Registers the Cactus launch configuration -->
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType name="%Launch.label"
        delegate="org.apache.cactus.eclipse.launcher.CactusLaunchConfiguration"
        modes="run, debug" id="org.apache.cactus.eclipse.launchconfig">

         <fileExtension default="false" extension="java"/>
         <fileExtension default="false" extension="class"/>
      </launchConfigurationType>
   </extension>

   <extension point="org.eclipse.debug.ui.launchShortcuts">
       <shortcut label="%CactusShortcut.label"
         icon="icons/calaunch.gif"
         modes="run, debug"
         class="org.apache.cactus.eclipse.launcher.CactusLaunchShortcut"
         id="org.apache.cactus.eclipse.cactusShortcut">
     
	       <perspective id="org.eclipse.jdt.ui.JavaPerspective"/>
           <perspective id="org.eclipse.jdt.ui.JavaHierarchyPerspective"/>
           <perspective id="org.eclipse.jdt.ui.JavaBrowsingPerspective"/>
           <perspective id="org.eclipse.debug.ui.DebugPerspective"/>
       </shortcut>
   </extension>

</plugin>
