# -----------------------------------------------------------------------------
# build.properties.sample
#
# This is an example "build.properties" file, used to customize building the
# Cactus Servlet Sample for your local environment.  Make any changes you need,
# and rename this file to "build.properties" in the same directory that
# contains the "build.xml" file.
#
# $Id$
# -----------------------------------------------------------------------------

# WARNING:  The relative paths below are relative to the directory where the
# build.xml file is located.

# -----------------------------------------------------------------------------
# Mandatory properties
# -----------------------------------------------------------------------------

# Location of all jars. Note: This is not a mandatory property. It is only
# used here so that it can be reused when defining the location of all the jars
# below. You do not have to put all the external jars in a single location.
lib.repo = ${user.home}/.maven/repository

# The location of the JSTL jar
jstl.jar = ${lib.repo}/jstl/jars/jstl-1.0.2.jar
 
# The location of the JSTL jar
standard.jar = ${lib.repo}/taglibs/jars/standard-1.0.2.jar

# The location of the log4j jar
log4j.jar = ${lib.repo}/log4j/jars/log4j-1.2.8.jar

# -----------------------------------------------------------------------------
# Mandatory properties for the Sample Servlet project.
# -----------------------------------------------------------------------------

# Location of the Servlet API jar.
servlet.jar = ${lib.repo}/servletapi/jars/servletapi-2.3.jar
#servlet.jar = ${lib.repo}/servletapi/jars/servletapi-2.2.jar

# -----------------------------------------------------------------------------
# Optional properties
# -----------------------------------------------------------------------------

# The port to use for starting the servers during unit testing. If not
# specified, it defaults to port 8080.
#cactus.port = 8081

# Servlet engine locations for the tests

# Note: If you don't want to run the test on a given servlet engine, just
#       comment it's home property. For example, if you don't want to run the
#       tests on Resin 2.x, comment the "cactus.home.resin2x" property.

#cactus.home.resin2x = c:/Apps/resin-2.1.11
#cactus.home.resin3x = c:/Apps/resin-3.0.5
#cactus.home.tomcat3x = c:/Apps/jakarta-tomcat-3.3.1a
#cactus.home.tomcat4x = c:/Apps/jakarta-tomcat-4.1.29
#cactus.home.tomcat5x = c:/Apps/jakarta-tomcat-5.0.14
#cactus.home.orion1x = c:/Apps/orion-1.6.0
#cactus.home.orion2x = c:/Apps/orion-2.0.2
#cactus.home.jboss3x = c:/Apps/jboss-3.2.1
#cactus.home.weblogic7x = c:/bea/weblogic700

# Should we instrument our code with Clover (test coverage tool) ?
# For this to work, the clover.jar needs to be in ANTHOME/lib.
# Comment out to disable Clover (setting the property to false will have no
# effect).
#clover.enable = true

# Clover jar. This is required if clover is enabled.
clover.jar = ${ant.home}/lib/clover.jar
