# -----------------------------------------------------------------------------
# build.properties.sample
#
# This is an example "build.properties" file, used to customize the build of
# the Cactus Website for your local environment.  Make any changes you need,
# and rename this file to "build.properties" in the same directory that contains
# the "build.xml" file.
#
# $Id$
# -----------------------------------------------------------------------------

# WARNING:  The relative paths below are relative to the directory where the
# build.xml file is located.

# -----------------------------------------------------------------------------
# Mandatory properties
# -----------------------------------------------------------------------------

# CVS executable to use for documentation generation (used to automatically
# generate web site changelog).
cvs.executable = cvs

# -----------------------------------------------------------------------------
# Optional properties
# -----------------------------------------------------------------------------
