# -----------------------------------------------------------------------------
# build.properties.sample
#
# This is an example "build.properties" file, used to customize the build of
# the Cactus Website for your local environment.  Make any changes you need,
# and rename this file to "build.properties" in the same directory that contains
# the "build.xml" file.
#
# $Id$
# -----------------------------------------------------------------------------

# WARNING:  The relative paths below are relative to the directory where the
# build.xml file is located.

# -----------------------------------------------------------------------------
# Mandatory properties
# -----------------------------------------------------------------------------

# Note: The "cvs" executable need to be present in the PATH for the "doc"
# target to work. If you are offline, the cvs changelog displayed on the 
# changes page will be empty.

# -----------------------------------------------------------------------------
# Optional properties
# -----------------------------------------------------------------------------

# Decide whether or not to include the javadoc from the other subprojects in
# the web site. This is an option useful for reducing web site build time as
# javadoc do not need to be always updated. Uncomment to activate inclusion
# of javadoc.
#javadoc.include = true

# Properties needed to upload the documentation to the Cactus web site
#jakarta.username = vmassol
#scp = pscp
#ssh = tortoisePlink
