# -----------------------------------------------------------------------------
# build.properties.sample
#
# Customize Ant build for the Cactus Eclipse plugin.
#
# $Id: build.properties.sample,v 1.31 2002/12/15 09:53:12 vmassol Exp $
# -----------------------------------------------------------------------------

# WARNING:  The relative paths below are relative to the directory where the
# build.xml file is located.

# -----------------------------------------------------------------------------
# Mandatory properties
# -----------------------------------------------------------------------------

# Location of Eclipse.
eclipse.home = D:/dev/eclipse-M4

# Locations of Eclipse dependent plugin jars

# Example for Eclipse 2.1 M4 - Windows platform
eclipse.junit.jar = ${eclipse.home}/plugins/org.junit/junit.jar
eclipse.core.boot.jar = ${eclipse.home}/plugins/org.eclipse.core.boot_2.1.0/boot.jar
eclipse.core.resources.jar = ${eclipse.home}/plugins/org.eclipse.core.resources_2.1.0/resources.jar
eclipse.core.runtime.jar = ${eclipse.home}/plugins/org.eclipse.core.runtime_2.1.0/runtime.jar
eclipse.debug.core.jar = ${eclipse.home}/plugins/org.eclipse.debug.core_2.1.0/dtcore.jar
eclipse.debug.ui.jar = ${eclipse.home}/plugins/org.eclipse.debug.ui_2.1.0/dtui.jar
eclipse.jdt.core.jar = ${eclipse.home}/plugins/org.eclipse.jdt.core_2.1.0/jdtcore.jar
eclipse.jdt.launching.jar = ${eclipse.home}/plugins/org.eclipse.jdt.launching_2.1.0/launching.jar
eclipse.swt.jar = ${eclipse.home}/plugins/org.eclipse.swt.win32_2.1.0/ws/win32/swt.jar
eclipse.jface.jar = ${eclipse.home}/plugins/org.eclipse.jface_2.1.0/jface.jar
eclipse.ant.core.jar = ${eclipse.home}/plugins/org.eclipse.ant.core_2.1.0/antsupport.jar
eclipse.ui.workbench.jar = ${eclipse.home}/plugins/org.eclipse.ui.workbench_2.1.0/workbench.jar

# Use the Junit support jar from Eclipse 2.1 M5 after 2002-02-07. This is 
# needed for our Eclipse Plugin as the JUnit plugin has been patched for us
# at that date.
eclipse.jdt.junit.jar = integration/eclipse/lib/junitsupport-2.1.0dev.jar
